:root {
  --color-primary: #208eaa;
  --color-primary-dark: #104755;
  --color-wrong: #ff3b30;
  --color-right: #3fc555;
  --padding-main: 10px;
  --app-bar-height: 56px;
  --app-bar-bg: rgb(247, 247, 248);
  --app-bar-padding: 30px;
  --app-bar-shadow: 0 2px 4px -4px black, 0 2px 8px -8px black;
  --font: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font) !important;
}

.app-bar {
  height: var(--app-bar-height);
  background: var(--app-bar-bg);
  -webkit-box-shadow: var(--app-bar-shadow);
  -moz-box-shadow: var(--app-bar-shadow);
  box-shadow: var(--app-bar-shadow);
}

.app-bar-title {
  padding: 0 var(--app-bar-padding);
  margin: 0;
  color: black;
  font-size: 20px;
}

.content {
  height: calc(100% - var(--padding-main) * 2 - var(--app-bar-height));
  max-height: calc(100% - var(--padding-main) * 2 - var(--app-bar-height));
  max-width: 600px;
  margin: 0 auto;
  padding: var(--padding-main);
  cursor: pointer !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: start;
  font-family: var(--font) !important;
}

img {
  max-width: 100%;
  max-height: 50vh;
  object-fit: cover;
  /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#question {
  flex-basis: 0;
  margin-bottom: 2rem;
}

#flag,
#capital,
#country {
  margin-bottom: 0;
}

.full-flex {
  flex-basis: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}

button {
  cursor: pointer !important;
  display: block;
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: var(--color-primary);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--font) !important;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

button:focus {
  outline: none;
}

button.wrong {
  background: var(--color-wrong);
  border: 10px solid var(--color-wrong);
}
button.right {
  background: var(--color-right);
  border: 10px solid var(--color-right);
}

/* LOADER */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 256px;
  height: 256px;
}
.lds-grid div {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  animation: lds-grid 2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 24px;
  left: 24px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 24px;
  left: 104px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 24px;
  left: 180px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 104px;
  left: 24px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 104px;
  left: 104px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 104px;
  left: 180px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 180px;
  left: 24px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 180px;
  left: 104px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 180px;
  left: 180px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 0.6;
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  25% {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  50% {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #f64f59,
      #c471ed,
      #12c2e9
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.1;
  }
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
